@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* copied from realtimecolors.com
--text: hsl(198, 94%, 93%);
--background: hsl(201, 89%, 7%);
--primary: hsl(195, 100%, 75%);
--secondary: hsl(236, 28%, 31%);
--accent: hsl(249, 28%, 56%);
https://www.realtimecolors.com/?colors=dcf4fe-021722-80dfff-393c65-786eae&fonts=Noto%20Sans%20Display-Noto%20Sans%20Display
*/


@layer base {
    :root {
        --background: 199 90% 4%;
        --foreground: 0 0% 98%;
        --card: 197 90% 4%;
        --card-foreground: 0 0% 98%;
        --popover: 197 90% 4%;
        --popover-foreground: 0 0% 98%;
        --primary: 211 100% 59%;
        --primary-foreground: 0 0% 0%;
        --secondary: 214 61% 37%;
        --secondary-foreground: 0 0% 100%;
        --muted: 200 27.9% 16.9%;
        --muted-foreground: 215 8% 29.4%;
        --accent: 198 36% 21%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 99% 63%;
        --destructive-foreground: 0 0% 98%;
        --border: 260 18% 20%;
        --input: 260 18% 20%;
        --ring: 241 70% 48%;
        --sidebar-background: 198.5 27.7% 9.2%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 260 30% 23%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 237.9 26.1% 21.8%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 35.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", serif;
  }
}